.divBotonInicio{
	display: none;
}
.divFormacionEquipos{
	padding: 20px;
}
.divFormacionEquipos h1{
	margin: 15px;
}
.formEquipos{
	width: 40%;
	margin: auto;
}
.formEquipos span{
	margin-top: 15px;
	margin-bottom: 5px;
	display: block;
	font-weight: bold;
}
.formEquipos input[type="text"]{
	display: block;
	margin: 15px auto;
	width: 100%;
	padding: 10px;
	height: 35px;
	outline: none;
	border-radius: 5px;
	border: 1px solid #2ab54a;
}
.iconMas{
	display: inline-block;
	margin: auto;
	padding: 0px 10px;
	font-size: 25px;
	font-weight: bold;
	border: 2px solid #000;
	border-radius: 5px;
}
.formEquipos input[type="submit"]{
	display: block;
	float: right;
	margin: 30px auto;
	outline: none;
	padding: 10px;
	background: #fff;
	font-size: 18px;
	border: 2px solid #2ab54a;
	border-radius: 5px;
}
.botonInicio{
	display: inline-block;
	float: right;
	font-size: 26px;
	background-color: #2ab54a;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #00701a;
	color: #fff;
}
.botonInicio:hover, .botonInicio:visited, .botonInicio:active{
	color: #fff;
} 

.pregunta{
	display: none;
	margin: 2% auto;
	width: 60%;	
	border: 1px solid #000;
	border-radius: 5px;
}
.spanNombreEquipo{
	display: block;
	background: #2ab54a;
	text-align: center;
	padding: 20px;
	font-size: 24px;
	color: #fff;
	border-bottom: 3px solid #000;
}
.pRonda{
	margin: 0;
	border-bottom: 1px solid #000; 
	padding: 10px 30px;
}
.spanRonda{
	font-size: 18px;
}
.spanPregunta{
	float: right;
	font-size: 18px;
}
.pPregunta{
	margin: 20px 0 0 0;
	padding: 30px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}
.imgPregunta{
 	margin: 0;
 	text-align: center;
}
.imgPregunta img{
 	border-radius: 8px;
}

.divRespuesta{
	display: table;
	width: 100%;
	text-align: center;
}
.divRespuesta-column{
	margin: 10px 0; 
	display: inline-block;
	width: 48%;
	text-align: center;
}
.pRespuesta{
	margin: 5;
	font-size: 20px;
	padding: 20px;
	border: 2px solid grey;
}
.pRespuesta:hover{
	background-color: #2ab54a;
	border: 2px solid #2ab54a;
	color: #fff;
}