html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: ARIAL;
	color: #333;
}

/* COLOR #2ab54a */

a:link,  a:visited, a:active{
	text-decoration: none; 
	color: #000;
}
ul{
	list-style: none;
}
.encabezado{
	width: 100%;
	height: 10%;
	background-color: #2ab54a;
	display: block;
}
.contenido{
	width: 100%;
	text-align: center;
}
.gestionarPreguntas{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-weight: bold;	
	padding: 20px;
	float: right;
}
.gestionarPreguntas:link,.gestionarPreguntas:visited, 
.gestionarPreguntas:active, .gestionarPreguntas:hover{
	color: #fff;
}

h1{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 2%;
}
.botonInicioJuego{
	display: inline-block;
	margin: 10% auto;
	padding: 15px;
	border: 2px solid black;
}
.botonInicioJuego:hover{
	background-color: #bbb6b6;
	border: 2px solid #bbb6b6;
	color: #fff;
}
.listaMaterias{
	display: none;
	padding: 20px;
}
.materia{
	display: block;
	border: 2px solid #bbb6b6;
	padding: 20px;
	margin: 15px;
	border-radius: 5px;
}
.materia h2{
	margin: 0px;
	font-size: 24px;
	font-weight: bold;
}
.materia ul{
	margin: 0px;
	padding: 0;
}
.materia:hover .itemTema{
	display: block;
}
.itemTema{
	display: none;
	padding: 10px;
	border: 1px solid gray;
	margin: 10px;
}
.itemTema a{
	display: block;
}
.itemTema:hover{
	background-color: #bbb6b6;
	border: 2px solid #bbb6b6;
}




.contenidoGestion{
	display: block;
	padding: 0 20px;
}
.contenidoGestion h2{
	margin-top: 25px;
}
.contenidoGestion ul li{
	padding: 5px 0;
}
.listaTemas li{
	width: 50%;
}
.listaTemas a{
	display: block;
}
.listaTemas a:hover{
	background-color: #bbb6b6;
	border: 2px solid #bbb6b6;
}

/* DIV CONTENEDOR  */
.contenedor{
    text-align: center;
	width: 100%;
	margin-top: 5%;
}


/* PANTALLA LOGIN */
.login-form{
	width: 50%;
	padding: 1cm;
	margin: auto;
	border: 2px solid #e0e0e0;
	box-shadow: 5px 10px 8px #aeaeae;
}
.login-form input{
	width: 100%;
}
.login-form span{
	display: block;
	text-align: left;
}
.login-form button{
	margin-top: 5%;
	font-size: 1.2em;
	color: white;
	padding: .5em .8em;
	border-radius: 5px;
	background-color: #2ab54a;
	cursor: pointer;
}