html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: ARIAL;
	color: #333;
}

/* COLOR #2ab54a */

a:link,  a:visited, a:active{
	text-decoration: none; 
	color: #000;
}
ul{
	list-style: none;
	padding: 0;
	width: 95%
}

ul li{
	padding: .3em 5%;
	font-size: 1.2em;
	background-color: #f5f5f5;
	margin: .2em 0;
	border-radius: 5px;
}
ul li:hover{
	background-color: #c2c2c2;
	color: white;
}



.encabezado{
	
	width: 100%;
	height: 10%;
	background-color: #2ab54a;
	display: block;
}
.contenido{
	width: 100%;
	text-align: center;
}
.gestionarPreguntas{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-weight: bold;	
	padding: 20px;
	float: right;
}
.gestionarPreguntas:link,.gestionarPreguntas:visited, 
.gestionarPreguntas:active, .gestionarPreguntas:hover{
	color: #fff;
}

.botonInicioJuego{
	display: inline-block;
	margin: 10% auto;
	padding: 15px;
	border: 2px solid black;
}
.botonInicioJuego:hover{
	background-color: #bbb6b6;
	border: 2px solid #bbb6b6;
	color: #fff;
}
.listaMaterias{
	display: none;
	padding: 20px;
}
.materia{
	display: block;
	border: 2px solid #bbb6b6;
	padding: 20px;
	margin: 15px;
	border-radius: 5px;
}
.materia h2{
	margin: 0px;
	font-size: 24px;
	font-weight: bold;
}
.materia ul{
	margin: 0px;
	padding: 0;
}
.materia:hover .itemTema{
	display: block;
}
.itemTema{
	display: none;
	padding: 10px;
	border: 1px solid gray;
	margin: 10px;
}
.itemTema a{
	display: block;
}
.itemTema:hover{
	background-color: #bbb6b6;
	border: 2px solid #bbb6b6;
}




.contenidoGestion{
	display: block;
	padding: 0 20px;
}
.contenidoGestion h2{
	margin-top: 25px;
}
.contenidoGestion ul li{
	padding: 5px 0;
}
.listaTemas li{
	width: 50%;
}
.listaTemas a{
	display: block;
}
.listaTemas a:hover{
	background-color: #bbb6b6;
	border: 2px solid #bbb6b6;
}

/* DIV CONTENEDOR  */
.contenedor{
    text-align: center;
	width: 100%;
	margin-top: 5%;	
}
.contenedor-div{
	width: 90%;
	margin-top: 2%;
	padding: 0 1cm;
}

.footer-altaPregunta{
	width: 90%;
}


/* PANTALLA LOGIN */
.login-form{
	width: 50%;
	padding: 1cm;
	margin: auto;
	border: 2px solid #e0e0e0;
	box-shadow: 5px 10px 8px #aeaeae;
}
.login-form input{
	width: 100%;
}
.login-form span{
	display: block;
	text-align: left;
}
.login-form button{
	margin-top: 5%;
	font-size: 1.2em;
	color: white;
	padding: .5em .8em;
	border-radius: 5px;
	background-color: #2ab54a;
	cursor: pointer;
}


/* PANTALLA DETALLE TEMA */
.add-button{
	font-size: 1.1em;
	color: white;
	padding: .5em .8em;
	border-radius: 5px;
	background-color: #2ab54a;
	cursor: pointer;
}
.pregunta-td{
	border: 2px solid #c2c2c2;
	border-radius: 5px;
	padding: .6em .5em;
	text-align: justify;
}
.pregunta-tr{
	height: .2cm;
}

.table-detalle-pregunta{
	width: 100%;
	margin: .5cm 0;
}
.table-detalle-pregunta td{
	padding: 0.3cm;
    font-size: 1.1em;
}
.button-editar{
	padding: .3cm;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0 .5cm;
}
.button-eliminar{
	padding: .3cm;
    border: 1px solid #d50000;
	background-color: #d50000;
	color: white;
    border-radius: 5px;
	margin: 0 .5cm;
	cursor: pointer;
}
.button-editar-c{
	padding: .3cm;
    border: 1px solid #333;
    border-radius: 5px;
	margin: 0 .5cm;
	background-color: white;
    cursor: pointer;
}
.button-eliminar-c{
	padding: .3cm;
    border: 1px solid #d50000;
	background-color: #d50000;
	color: white;
    border-radius: 5px;
	margin: 0 .5cm;
	cursor: pointer;
}

/*PANTALLA ALTAPREGUNTA*/
.tag{
	display: inline-block;
	margin-right: 1cm;
}
.tag span{
	font-weight: normal;
	font-size: .8em;
}
.form-alta{
	width: 80%;
	margin: auto;
}
.form-alta span{
	font-weight: bold;
}
.input-titulo{
	width: 100%;
	font-size: 1.5em;
	font-weight: 400;
}
.input-imagen{
	display: block;
	margin: .3em auto;
}
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;

}
.input-pregunta{
	display: block;
	width: 100%;
	margin: 1em 0;
}

.input-p{
	width: 80%;
	height: 2.5em;
}
.radio-pregunta{
	visibility: hidden;
}

.button-pregunta{
	display: block;
    margin: auto;
    background-color: #2ab54a;
    color: white;
    padding: .5em 1.5em;
    border-radius: 5px;
    font-size: 1.2em;
}

/* PANTALLA ARMAR EQUIPOS */
.equipos{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
}
.equipos div{
	padding: 0 .5cm;
}
.header-equipo-rojo{
	background-color: #FF0000;
	text-align: center;
	border-radius: 10px 10px 0 0;
	border: 3px solid #CC0000;
	border-bottom: 0;
}
.header-equipo-azul{
	background-color: #0F3BFF;
	text-align: center;
	border-radius: 10px 10px 0 0;
	border: 3px solid #0C30CC;
	border-bottom: 0;
}
.header-equipo-rojo h2, .header-equipo-azul h2{
	color: white;
	padding: .2cm;
	margin: 0;
}
.content-equipo{
	text-align: center;
	border: 3px solid #9e9e9e;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}
.input-equipo{
	width: 80%;
	font-size: 1em;
	margin-top: .5cm;
}

.equipos div button{
	display: block;
    margin: .5cm auto;
    padding: .2cm .5cm;
    border-radius: 5px;
    background-color: transparent;
	border: 1px solid gray;
	cursor: pointer;
}

.equipos div button:hover{
	background-color: #bcbcbc;
    color: #ffffff;
}

.footer{
	text-align: center;
    margin: 0;
    width: 100%;
    padding: 1cm 0;
}
.footer button{
	background-color: #2ab54a;
    border: 1px solid #2ab54a;
    padding: .3cm .5cm;
    font-size: 1.5em;
    color: white;
    letter-spacing: 2px;
	border-radius: 10px;
	cursor: pointer;
}
.footer button:hover{
	background-color: rgba(42, 180, 74, .7);
}


/* PANTALLA JUEGO */

.marcador{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr	1fr;
	text-align: center;
}
.marcador h2{
	margin: 0;
    line-height: 300%;
}
#marcadorRojo{
	background-color: #FF0000;
	color: white;
}
#marcadorAzul{
	background-color: #0F3BFF;
	color: white;
}
.pregunta-div{
	width: 100%;
    text-align: center;
    margin-top: 1cm;
}
.pregunta-div h1, .pregunta-div h2{
	margin: 0;
}
.table-pregunta{
	width: 90%;
	margin: .5cm auto;
	border-collapse: collapse;
    border-style: hidden;
}
.table-pregunta td{
	height: 4em;
	width: 50%;
	border: 1px solid #bcbcbc;

}
.table-pregunta td button{
	width: 100%;
	height: 100%;
	font-size: 1.2em;
	padding: .3em .5em;
}


/* PANTALLA MARCADOR  */
.equipos-marcador{
	text-align: center;
	margin-top: 1cm;
}
.equipos-marcador h2, .equipos-marcador h1{
	margin: 0;
}
.rojo{
	background-color: #FF0000;
	color: white;
	padding: .5cm;
    border-radius: 5px;
}
.azul{
	background-color: #0F3BFF;
	color: white;
	padding: .5cm;
	border-radius: 5px;
}
.equipos-marcador table{
	width: 100%;
	height: 150px;
	font-size: 1.3em;
	font-weight: bold;
	border-collapse: collapse;
    border-style: hidden;
}
.equipos-marcador td{
	border: 2px solid #AAB7B8;
}
.marcador-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
	text-align: center;
}
.marcador-footer a{
	font-size: 1.2em;
	margin: 0 2cm;
}

/*PANTALLA JUEGO PRACTICA */
.marcador-divPractica{
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	font-family: 'Krona One', sans-serif;
}

/*PANTALLA MARCADOR PRACTICA*/
.body-marcador{
	background: url('https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
}
.contenedor-marcadorP{
	text-align: center;
	width: 60%;
	margin: 5% auto;
	background-color: rgba(255,255,255,.7);
	border-radius: 10px;
	color: #333;
	padding: 1cm;
}

.titulo-marcadorP{
	letter-spacing: 3px;
}
.titulo-marcadorP span{
	font-size: 1.5em;
	letter-spacing: 0;
}
.contenedor-marcadorP h2{
	font-size: 2em;
}
.marcador-footer a{
	color: #333;
	padding: .5cm 1cm;
	font-size: 1.3em;
	font-weight: bold;
	background: rgba(51, 51, 51, .2);
	border-radius: 5px;
}
