h1, h2{
	margin: 0;
}
.div-bienvenida{
	display: blocK;
	width: 100%; 
	height: 90%;
	background: url('https://lh3.google.com/u/0/d/1KsktCNGickfLFpmWaAZkzpoMt2rJV5ns=w848-h598-iv1');
	background-size: cover;
	text-align: right;
	padding: 1cm 3cm;
	box-sizing: border-box;
}
.div-bienvenida h1{
	margin: 0;
	line-height: 500%
}
.div-bienvenida h1 span{
	font-size: 3.5em;
	letter-spacing: 7px;	
	font-family: 'Quicksand', sans-serif;
	text-shadow: -5px 5px #c6c6c6;
}
.div-bienvenida div{
	display: block;
	text-align: center;
	margin-top: 18%;
}
.div-bienvenida div a{
	font-size: 1.6em;
	background-color: #c6c2c2;
	padding: .5cm 1cm;
}